# Define macros for Unity YAML and LFS
[attr]unityyaml -text merge=unityyamlmerge eol=lf
[attr]lfs filter=lfs diff=lfs merge=lfs -text

# Normalize line endings for all text files
* text=auto
# Unity-specific file types
*.cs text diff=csharp
*.cginc text
*.compute text linguist-language=hlsl
*.hlsl text linguist-language=hlsl
*.raytrace text linguist-language=hlsl
*.shader text
# Unity JSON files
*.asmdef text
*.asmref text
*.index text
*.inputactions text
*.shadergraph text
*.shadersubgraph text
# Unity UI Toolkit files
*.tss text diff=css linguist-language=css
*.uss text diff=css linguist-language=css
*.uxml text linguist-language=xml linguist-detectable
# Unity YAML files
*.anim unityyaml
*.asset unityyaml
*.brush unityyaml
*.controller unityyaml
*.flare unityyaml
*.fontsettings unityyaml
*.giparams unityyaml
*.guiskin unityyaml
*.lighting unityyaml
*.mask unityyaml
*.mat unityyaml
*.meta unityyaml
*.mixer unityyaml
*.overrideController unityyaml
*.playable unityyaml
*.prefab unityyaml
*.preset unityyaml
*.renderTexture unityyaml
*.scenetemplate unityyaml
*.shadervariants unityyaml
*.signal unityyaml
*.spriteatlas unityyaml
*.spriteatlasv2 unityyaml
*.terrainlayer unityyaml
*.unity unityyaml
*.dylib filter=lfs diff=lfs merge=lfs -text
# Physics materials
*.physicMaterial unityyaml
*.physicsMaterial2D unityyaml
# Exclude third-party plugins from GitHub stats
Assets/Plugins/** linguist-vendored
# Files to be managed by Git LFS
# 3D models
*.3dm lfs
*.3ds lfs
*.blend lfs
*.c4d lfs
*.collada lfs
*.dae lfs
*.dxf lfs
*.fbx lfs
*.jas lfs
*.lws lfs
*.lxo lfs
*.ma lfs
*.max lfs
*.mb lfs
*.obj lfs
*.ply lfs
*.skp lfs
*.stl lfs
*.ztl lfs
# Audio files
*.aif lfs
*.aiff lfs
*.it lfs
*.mod lfs
*.mp3 lfs
*.ogg lfs
*.s3m lfs
*.wav lfs
*.xm lfs
# Video files
*.asf lfs
*.avi lfs
*.flv lfs
*.mov lfs
*.mp4 lfs
*.mpeg lfs
*.mpg lfs
*.ogv lfs
*.wmv lfs
# Image files
*.bmp lfs
*.exr lfs
*.gif lfs
*.hdr lfs
*.iff lfs
*.jpeg lfs
*.jpg lfs
*.pict lfs
*.png lfs
*.psd lfs
*.tga lfs
*.tif lfs
*.tiff lfs
*.webp lfs
# Compressed archives
*.7z lfs
*.bz2 lfs
*.gz lfs
*.rar lfs
*.tar lfs
*.zip lfs
# Compiled dynamic libraries
*.dll lfs
*.pdb lfs
*.so lfs
# Fonts
*.otf lfs
*.ttf lfs
# Executables and installers
*.apk lfs
*.exe lfs
# Documents
*.pdf lfs
# Miscellaneous
*.a lfs
*.reason lfs
*.rns lfs
# Spine export file for Unity
*.skel.bytes lfs
# Exceptions for specific .asset files
LightingData.asset binary
* !text !filter !merge !diff
